In [5]:
# Add rank column for each status and year
# Load libraries
import pandas as pd
import numpy as np
import csv

neiman = pd.read_csv('data.csv')
neiman.head()

neiman_short=neiman[neiman["Status"]!="Not Included"]
neiman_short.head()

neiman_short['Rank']=neiman_short.sort_values(["Designer"],ascending=True)\
            .groupby(["Year","Status"])\
                                .cumcount()+1
neiman_short.head(100)

# neiman_short.to_csv('rank.csv',index=False)

/var/folders/7r/064264hn6v188kmbchqq00380000gn/T/ipykernel_17605/3528440088.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neiman_short['Rank']=neiman_short.sort_values(["Designer"],ascending=True)\

,Designer,Category,Num of Years Since 1st Listed,Num of Years Listed,Founding Year,Age,Age (copy),Age Group,Year,Listed?,Status,Rank
8,10 crosby derek lam,Contemporary,11,3,2011,13,13,10 to 20 Years,2012,1,New,1
9,10 crosby derek lam,Contemporary,11,3,2011,13,13,10 to 20 Years,2013,1,In,1
10,10 crosby derek lam,Contemporary,11,3,2011,13,13,10 to 20 Years,2014,1,In,1
11,10 crosby derek lam,Contemporary,11,3,2011,13,13,10 to 20 Years,2015,0,Exit,1
22,3.1 phillip lim,Contemporary,16,16,2005,19,19,10 to 20 Years,2007,1,New,1
...,...,...,...,...,...,...,...,...,...,...,...,...
283,akris punto,Contemporary,16,16,1995,29,29,20 to 50 Years,2021,1,In,8
284,akris punto,Contemporary,16,16,1995,29,29,20 to 50 Years,2022,1,In,9
299,alanui,Contemporary,5,2,2016,8,8,5 to 10 Years,2018,1,New,2
300,alanui,Contemporary,5,2,2016,8,8,5 to 10 Years,2019,1,In,7
301,alanui,Contemporary,5,2,2016,8,8,5 to 10 Years,2020,0,Exit,2

In [15]:
new_nei=pd.read_csv('Neiman Catalog.csv')
new_nei.head()
new_nei["Relative Age Group"]=new_nei.apply(lambda row: "0 to 5 Years"
                                              if row["Relative Age"]>=0 and row["Relative Age"]<5
                                      else
                                
                                             "5 to 10 Years" 
                                      if row["Relative Age"]>=5 and row["Relative Age"]<10
                                      else
                                      "10 to 20 Years"
                                      if row["Relative Age"]>=10 and row["Relative Age"]<20
                                      else
                                       "20 to 50 Years"
                                      if row["Relative Age"]>=20 and row["Relative Age"]<50
                                    else
                                       "50 to 100 Years"
                                      if row["Relative Age"]>=50 and row["Relative Age"]<100
                                         else
                                       "100 to 200 Years"
                                      if row["Relative Age"]>=100 and row["Relative Age"]<200
                                     else "Over 200 Years"
                                      , axis=1)
new_nei.head()
new_nei.to_csv('new_nei.csv',index=False)